.slideshow {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.slideshow {
		flex-direction: column;
	}
}

/* Slideshow Columns */
.slideshow__info-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideshow__info-column > * {
	margin-top: 1rem;
}

.slideshow__info-column > .title {
	padding: 0;
}

.slideshow-options {
	display: flex;
	align-items: center;
}

.slideshow-options > .box {
	height: 20px;
	width: 20px;
	border: 1px solid;
}
